.bookCover{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    
}

.author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sequels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.stars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
